@import url('https://fonts.googleapis.com/css2?family=Geologica:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=SUSE:wght@100..800&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    background-color: rgb(0, 136, 255);
    color: white;
    font-family: "Poppins", sans-serif;
    font-size: 14px;
    justify-content: center;
    overflow-x: hidden;

    background: #0088ff;
    background-image: linear-gradient(#ffffff07 .1em, transparent .1em), linear-gradient(90deg, #ffffff07 .1em, transparent .1em);
    background-size: 4em 4em;
    overflow-x: hidden;
}

.txtwarn {
    color: yellow;
}

.marquee-container {
    width: 35%;
    overflow: hidden;
    border: 1px solid #ffffff;
    margin: 10px auto;
    padding: 12px;
    border-radius: 30px;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: slide 10s linear infinite;
    font-size: 14px;
}

@keyframes slide {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-150%);
    }
}

.link1 {
    color: white;
    text-decoration: none;
}
.normaltxt {
    text-decoration: none;
    color: white;
    cursor: pointer;
}
.titleweb {
    text-align: center;
    margin: 25px;
}
.descweb {
    padding:20px;
    text-align: center;
    margin: 0;
}
.divsm {
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin:0;
}
.divplymsck {
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin:0;
}
.divsm button {
    width: 50%;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    color: rgb(5, 5, 5);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}
.divsm button:hover {
    background-color: transparent;
    border-color: white;
    color: white;
}
.btnstyle1 {
    width: 50%;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: white;
    border: 1px solid transparent !important;
    border-radius: 30px;
    color: rgb(5, 5, 5);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
    cursor: pointer;
}
.btnstyle1:hover {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
}
.contdivps {
    text-align: center;
    display: flex;
    justify-content: center;
}
.divps {
    margin: 0px;
    padding: 20px;
}
.garisdidivps {
    width: 4px;
    background-color: rgb(255, 255, 255);
    height: 60px;
    border-radius: 50px;
    color: transparent;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 5px;
    cursor: default;
}
.subttl {
    margin-bottom: 5px;
    font-weight: bold;
}
.subttl1 {
    margin-top: 20px;
}
#contprofimg {
    display: flex;
    justify-content: center;
}
#contprofimg img {
    border-radius: 50%;
    border: 2px solid white;
    width: 100px;
}
#contstats {
    width: 100%;
    height: 100%;
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 13, 24, 0.981);
    overflow: auto;
}
#subcontstats {
    padding-left: 10%;
    padding-right: 10%;
}
#myChart {
    width: 50%;
    height: auto;
}
#contmywebproject {
    width: 100%;
    height: 100%;
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 13, 24, 0.981);
}
#subcontmywebproject {
    padding-left: 4%;
    padding-right: 4%;
    position: relative;
}
#contdetailrs {
    width: 100%;
    height: 100%;
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 13, 24, 0.981);
}
#subcontdetailrs {
    padding-left: 10%;
    padding-right: 10%;
}
#imgindetailrs {
    width: 350px;
    margin: 30px;
    margin-bottom: 0px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#locrsdetlincntdetailrs {
    margin-top: 30px;
}
.closexindivz {
    top: 0 !important;
    right: 0 !important;
    position: fixed !important;
    font-size: 30px !important;
    color: rgb(255, 255, 255);
    margin: 50px !important;
    margin-top: 30px !important;
    cursor: pointer !important;
    transition: color 1s ease !important;
}
.closexindivz:hover {
    color: #0088ff !important;
}
#conttxtdescondetlrs {
    width: 70%;
    text-align: center;
}
.mybuutonatplymsck {
    width: 100%;
    display: flex;
    justify-content: center;
}
.mybuutonatplymsck button {
    width: 15%;
    padding: 15px;
}
.btnrndmmsck {
    margin: 10px;
    outline: none;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    color: rgb(5, 5, 5);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
    cursor: pointer;
}
.btnrndmmsck:hover {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
}
#mvntButton {
    margin: 10px;
    outline: none;
    background-color: white;
    border: 1px solid transparent;
    border-radius: 30px;
    color: rgb(5, 5, 5);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    width: 15%;
    padding: 15px;
}
/*
#mvntButton:hover {
    background-color: transparent;
    border-color: white;
    color: white;
}
*/
#contact-btn-send {
    width: 15%;
    padding: 15px;
    border-radius: 30px;
}
#contact-username {
    margin: 10px;
    width: 30%;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 15px;
    font-family: "Poppins", sans-serif;
}
#contact-message {
    width: 30%;
    border: none;
    outline: none;
    border-radius: 20px;
    padding: 15px;
    font-family: "Poppins", sans-serif;
}
.fttr {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.301);
    margin-top: 100px;
    text-align: center;
}

#tk, #sd, #smp, #smasmk {
    cursor: pointer;
}
#imgonload img {
    width: 200px;
}

.aos-element {
    margin: 0 !important; /* Memastikan margin tetap 0 */
    padding: 0 !important; /* Memastikan padding tetap 0 */
}

/*
#tk, #sd, #smp, #smasmk {
    color: rgb(5, 5, 5);
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: white;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 6px;
}
*/
.swiper-image {
    width: 100%;
    height: auto;
    max-width: 30%;
    margin: 0 auto;
    border-radius: 6px;
    border: 2px solid white;
    filter: brightness(1) saturate(1) hue-rotate(0deg);
}

.subcontstatssub1 {
    width: 60%;
    text-align: left;
}
.subcontstatssub2 {
    width: 60%;
}
.dots::after {
    content: '';
    display: inline-block;
    animation: dot-blink 1.5s steps(4, end) infinite;
}
@keyframes dot-blink {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}
#contact-btn-send {
    width: 10%;
    margin: 10px;
    padding: 15px;
    outline: none;
    background-color: white;
    border: 1px solid transparent !important;
    border-radius: 30px;
    color: rgb(5, 5, 5);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
    cursor: pointer;
}
#contact-btn-send:hover {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
}

/* === */
    
.if-ka {
    height: 540px;
    width:70%;
    margin: 25px;
    border-radius: 10px;
}
.if-mmz {
    height: 540px;
    width:70%;
    margin: 25px;
    border-radius: 10px;
}

@media (max-width: 600px) {
    .swiper-image {
        width: 100%;
        height: auto;
        max-width: 75%;
        margin: 0 auto;
        border-radius: 6px;
    }
    .descweb {
        padding:20px;
        text-align: center;
        margin: 0;
    }
    .divsm {
        padding: 20px;
        text-align: center;
        justify-content: center;
        margin:0;
    }
    .divsm button {
        width: 80%;
        margin: 7px;
        padding: 15px;
        outline: none;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 30px;
        color: rgb(5, 5, 5);
        box-sizing: border-box;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }
    #imgindetailrs {
        width: 250px;
        margin: 20px;
        margin-top: 30px;
        border-radius: 6px;
    }
    #closedetailrs {
        top: 0;
        right: 0;
        position: fixed;
        font-size: 24px;
        margin: 20px;
        margin-top: 15px;
    }
    .closexindivz {
        font-size: 24px !important;
        margin: 20px !important;
        margin-top: 15px !important;
        margin-right: 25px !important;
    }
    .btnrndmmsck {
        width: 40% !important;
        margin: 10px;
        padding: 12px;
        border: 1px solid transparent;
        border-radius: 30px;
    }
    #conttxtdescondetlrs {
        width: 90%;
        text-align: justify;
    }
    .marquee-container {
        width: 90%;
        overflow: hidden;
        border: 1px solid #ffffff;
        margin: 10px auto;
        padding: 12px;
        border-radius: 30px;
    }
    .marquee {
        display: inline-block;
        white-space: nowrap;
        animation: slide 10s linear infinite;
        font-size: 14px;
    }
    #mvntButton {
        margin: 10px;
        outline: none;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 30px;
        color: rgb(5, 5, 5);
        box-sizing: border-box;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        cursor: pointer;
        width: 40%;
        padding: 15px;
    }
    #contact-btn-send {
        width: 40%;
        padding: 15px;
        border-radius: 30px;
    }
    #contact-username {
        margin: 10px;
        width: 80%;
        border-radius: 20px;
        padding: 15px;
    }
    #contact-message {
        width: 80%;
        border-radius: 20px;
        padding: 15px;
    }
    .subcontstatssub1 {
        width: 90%;
    }
    .subcontstatssub2 {
        width: 90%;
    }
    #myChart {
        width: 100%;
        height: auto;
    }

    /* === */

    .if-ka {
        height: 500px;
        width: 94%;
        margin: 0px;
        margin-top: 50px;
        border-radius: 10px;
    }
    .if-mmz {
        height: 500px;
        width: 94%;
        margin: 0px;
        margin-top: 50px;
        border-radius: 10px;
    }
}