#btnbar {
    position: fixed;
    left: 0px;
    top: 0px;
    font-size: 30px;
    margin: 25px;
    cursor: pointer;
    z-index: 999999;
}

#contact-message {
    margin: 7px;
}

.dropdown-menu {
    display: block;
    position: fixed;
    left: 0px;
    top: 0px;
    width: 20%;
    margin: 25px;
    z-index: 99999;
    margin-top: 80px;
    background-color: white;
    background-color: #00a2ff;
    color: #ffffff;
    border: none;
    transform: translateX(-350px);
    transition: transform 0.5s ease;
}

.dropdown-menu.show {
    transform: translateX(0);
}

.dropdown-menu.back {
    transform: translateX(-350px);
}

.dropdown-menu a {
    display: block;
    padding: 8px 12px;
    text-decoration: none;
    color: #333;
    color: #ffffff;
}

.dropdown-menu a:hover {
    background-color: #0097ee;
}

.marquee-container {
    width: 32%;
    overflow: hidden;
    border: 1px solid #ffffff;
    margin: 10px auto;
    padding: 12px;
    border-radius: 30px;
}

.marquee {
    display: inline-block;
    white-space: nowrap;
    animation: slide 10s linear infinite;
    font-size: 14px;
    color: white;
}

@keyframes slide {
    0% {
        transform: translateX(150%);
    }
    100% {
        transform: translateX(-150%);
    }
}

.titleweb {
    font-size: 40px;
    display: inline-block;
    text-align: center;
    margin: 25px !important;
}
.ttlweb2 {
    color: #00a2ff;
}
.descweb {
    padding:20px;
    text-align: center;
    margin: 0;
}
.divsm {
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin:0;
}
.divplymsck {
    padding: 20px;
    text-align: center;
    justify-content: center;
    margin:0;
}
.divsm button {
    width: 50%;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: white;
    background-color: #00a2ff;
    border: 1px solid transparent;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}
.divsm button:hover {
    background-color: transparent !important;
    border-color: white;
    color: white;
}
.btnstyle1 {
    width: 50% !important;
    margin: 10px;
    padding: 20px;
    outline: none;
    background-color: white;
    background-color: #00a2ff;
    border: 1px solid transparent !important;
    border-radius: 30px;
    color: rgb(5, 5, 5);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
    cursor: pointer;
}
.btnstyle1:hover {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
}
.btnstyle2 {
    width: 18% !important;
    margin: 10px;
    padding: 15px;
    outline: none;
    background-color: white;
    background-color: #00a2ff;
    border: 1px solid transparent !important;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
    cursor: pointer;
}
.btnstyle2:hover {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
}
.contdivps {
    text-align: center;
    display: flex;
    justify-content: center;
}
.divps {
    margin: 0px;
    padding: 20px;
}
.garisdidivps {
    width: 4px;
    background-color: rgb(255, 255, 255);
    height: 60px;
    border-radius: 50px;
    color: transparent;
    margin: 0;
    margin-top: -10px;
    margin-bottom: 5px;
    cursor: default;
}
.subttl {
    margin-bottom: 5px;
    font-weight: bold;
}
.subttl1 {
    margin-top: 20px;
}
.subttlinbgh {
    margin: 25px;
    font-size: 20px;
}
#contprofimg {
    display: flex;
    justify-content: center;
}
#contprofimg img {
    border-radius: 50%;
    border: 2px solid white;
    width: 100px;
}
#contstats {
    width: 100%;
    height: 100%;
    z-index: -99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0cfe;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#subcontstats {
    padding-left: 10%;
    padding-right: 10%;
}
#contloading {
    width: 100%;
    height: 100%;
    z-index: 99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0cfe;
    overflow: auto;
}
#subcontloading {
    padding-left: 10%;
    padding-right: 10%;
}
#subcontloading h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
#myChart {
    width: 50%;
    height: auto;
}
#contmywebproject {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0cfe;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#subcontmywebproject {
    padding-left: 10%;
    padding-right: 10%;
}
#contdivmenud {
    width: 100%;
    height: 100%;
    z-index: -1;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0ce1;;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#subcontdivmenud {
    padding-left: 10%;
    padding-right: 10%;
}
#contdetailrs {
    width: 100%;
    height: 100%;
    z-index: -99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0cfe;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#subcontdetailrs {
    padding-left: 10%;
    padding-right: 10%;
}
#imgindetailrs {
    width: 350px;
    margin: 30px;
    margin-bottom: 0px;
    border-radius: 6px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
}
#locrsdetlincntdetailrs {
    margin-top: 30px;
}
#contdetailrsselect {
    width: 100%;
    height: 100%;
    z-index: -99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0cfe;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#subcontdetailrsslect {
    padding-left: 10%;
    padding-right: 10%;
}
#contmusicc {
    width: 100%;
    height: 100%;
    z-index: -99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0cfe;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#subcontmusicc {
    padding-left: 5%;
    padding-right: 5%;
}
#contprojectweb {
    width: 100%;
    height: 100%;
    z-index: -99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0cfe;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#subcontprojectweb {
    padding-left: 5%;
    padding-right: 5%;
}

#contmykarya {
    width: 100%;
    height: 100%;
    z-index: -99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0cfe;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#subcontmykarya {
    padding-left: 5%;
    padding-right: 5%;
}

#conttampilanweb {
    width: 100%;
    height: 100%;
    z-index: -99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0cfe;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#subconttampilanweb {
    padding-left: 5%;
    padding-right: 5%;
}

#contmykaryapdf {
    width: 100%;
    height: 100%;
    z-index: -99999999;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #0c0c0cfe;
    opacity: 0;
    transition: opacity 0.5s ease;
}
#subcontmykaryapdf {
    padding-left: 5%;
    padding-right: 5%;
}

.closexindivz {
    top: 0 !important;
    right: 0 !important;
    position: fixed !important;
    font-size: 30px !important;
    color: rgb(255, 255, 255);
    margin: 50px !important;
    margin-top: 30px !important;
    cursor: pointer !important;
    transition: color 1s ease !important;
}
.closexindivz:hover {
    color: #0088ff;
}
#conttxtdescondetlrs {
    width: 70%;
    text-align: center;
}
.mybuutonatplymsck {
    width: 100%;
    display: flex;
    justify-content: center;
}
.mybuutonatplymsck button {
    width: 15%;
    padding: 15px;
}
.btnrndmmsck {
    margin: 10px;
    outline: none;
    background-color: white;
    background-color: #00a2ff;
    border: 1px solid transparent;
    border-radius: 30px;
    color: rgb(5, 5, 5);
    color: white;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
    cursor: pointer;
}
.btnrndmmsck:hover {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
}
#mvntButton {
    margin: 10px;
    outline: none;
    background-color: white;
    background-color: #00a2ff;
    border: 1px solid transparent;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
    width: 15%;
    padding: 15px;
}
/*
#mvntButton:hover {
    background-color: transparent;
    border-color: white;
    color: white;
}
*/
#contact-btn-send {
    width: 15%;
    padding: 15px;
    border-radius: 30px;
}
#contact-username {
    margin: 10px;
    width: 30%;
    border: none;
    outline: none;
    background-color: #00a2ff;
    color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    font-family: "Poppins", sans-serif;
}
#contact-message {
    width: 30%;
    border: none;
    outline: none;
    background-color: #00a2ff;
    color: #ffffff;
    border-radius: 20px;
    padding: 15px;
    font-family: "Poppins", sans-serif;
}
.fttr {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.301);
    margin-top: 100px;
    text-align: center;
}

#tk, #sd, #smp, #smasmk {
    cursor: pointer;
}
#imgonload img {
    width: 200px;
}

.aos-element {
    margin: 0 !important; /* Memastikan margin tetap 0 */
    padding: 0 !important; /* Memastikan padding tetap 0 */
}

/*
#tk, #sd, #smp, #smasmk {
    color: rgb(5, 5, 5);
    text-align: center;
    display: flex;
    justify-content: center;
    width: 80%;
    background-color: white;
    padding: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 6px;
}
*/
.swiper-image {
    width: 100%;
    height: auto;
    max-width: 30%;
    margin: 0 auto;
    border-radius: 6px;
    border: 2px solid white;
    filter: brightness(1) saturate(1) hue-rotate(0deg);
}

.subcontstatssub1 {
    width: 60%;
    text-align: left;
}
.subcontstatssub2 {
    width: 60%;
}
.dots::after {
    content: '';
    display: inline-block;
    animation: dot-blink 1.5s steps(4, end) infinite;
}
@keyframes dot-blink {
    0%, 20% {
        content: '';
    }
    40% {
        content: '.';
    }
    60% {
        content: '..';
    }
    80%, 100% {
        content: '...';
    }
}
#contact-btn-send {
    width: 10%;
    margin: 10px;
    padding: 15px;
    outline: none;
    background-color: white;
    background-color: #00a2ff;
    border: 1px solid transparent !important;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease !important;
    cursor: pointer;
}
#contact-btn-send:hover {
    background-color: transparent !important;
    border-color: white !important;
    color: white !important;
}

/*
#contloading, #contdivmenud, #contmywebproject, #contstats, #contdetailrs {
    
}
*/
.contmyweb1 {
    display: flex;
    justify-content: center;
}

.contmyweb2 {
    width: 80%;
}

.contmyweb2 button {
    width: 25%;
    margin: 5px;
    margin-bottom: 15px;
    padding: 15px;
    outline: none;
    border: 1px solid transparent;
    border-radius: 30px;
    color: rgb(255, 255, 255);
    background-color:#0088ff;
    background-color: white;
    background-color: #00a2ff;
    box-sizing: border-box;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    cursor: pointer;
}

.contmyweb2 button:hover {
    background-color: transparent !important;
    border-color: white;
    color: white;
}

.hamburger {
    width: 30px;
    height: 24px;
    margin-top: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
}

.hamburger span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #ffffff;
    border-radius: 2px;
    transition: all 0.3s ease; /* Efek transisi */
}

.hamburger.active span:nth-child(1) {
    transform: rotate(45deg);
    position: absolute;
    top: 50%;
    transform-origin: center;
}

.hamburger.active span:nth-child(2) {
    opacity: 0; /* Hilangkan garis tengah */
}

.hamburger.active span:nth-child(3) {
    transform: rotate(-45deg);
    position: absolute;
    top: 50%;
    transform-origin: center;
}
.pdf-grid {
    display: flex;
    flex-wrap: wrap; 
    padding: 16px;
    margin: 0px;
}
.pdf-item {
    border: 1px solid #00a2ff;
    border: none;
    border-radius: 8px;
    background-color: #00a2ff;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    margin: 20px;
}
.pdf-item iframe {
    width: 100%;
    height: 400px;
    border: none;
    background-color: #00a2ff;
}
.pdf-title {
    padding: 8px;
    background: #00a2ff;
    text-align: center;
    font-size: 16px;
    font-weight: bold;
}
#theme-selector {
    background-color: #00a2ff;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
}

#theme-selector option {
    background-color: #00a2ff;
    color: white;
    border: none;
    outline: none;
    border-radius: 6px;
    padding: 7px;
    padding-left: 10px;
    padding-right: 10px;
}


@media (max-width: 600px) {
    .pdf-item {
        border-radius: 8px;
        margin: 20px;
    }
    .pdf-item iframe {
        width: 100%;
        height: 400px;
    }
    .pdf-title {
        padding: 8px;
        font-size: 16px;
    }
    .swiper-image {
        width: 100%;
        max-width: 75%;
        border-radius: 6px;
    }
    .descweb {
        padding:20px;
        text-align: center;
        margin: 0;
    }
    .divsm {
        padding: 20px;
        text-align: center;
        justify-content: center;
        margin:0;
    }
    .divsm button {
        width: 80%;
        margin: 7px;
        padding: 15px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 30px;
        box-sizing: border-box;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
    }
    #imgindetailrs {
        width: 250px;
        margin: 20px;
        margin-top: 30px;
        border-radius: 6px;
    }
    #closedetailrs {
        top: 0;
        right: 0;
        position: fixed;
        font-size: 24px;
        margin: 20px;
        margin-top: 15px;
    }
    .closexindivz {
        font-size: 24px !important;
        margin: 20px !important;
        margin-top: 15px !important;
        margin-right: 25px !important;
    }
    .btnrndmmsck {
        width: 150px !important;
        margin: 10px;
        padding: 12px;
        border: 1px solid transparent;
        border-radius: 30px;
    }
    #conttxtdescondetlrs {
        width: 90%;
        text-align: justify;
    }
    .marquee-container {
        width: 90%;
        overflow: hidden;
        border: 1px solid #ffffff;
        margin: 10px auto;
        padding: 12px;
        border-radius: 30px;
    }
    .marquee {
        display: inline-block;
        white-space: nowrap;
        animation: slide 10s linear infinite;
        font-size: 14px;
    }
    #mvntButton {
        margin: 10px;
        outline: none;
        background-color: white;
        border: 1px solid transparent;
        border-radius: 30px;
        color: rgb(5, 5, 5);
        box-sizing: border-box;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        cursor: pointer;
        width: 40%;
        padding: 15px;
    }
    #contact-btn-send {
        width: 40%;
        padding: 15px;
        border-radius: 30px;
    }
    #contact-username {
        margin: 10px;
        width: 80%;
        border-radius: 20px;
        padding: 15px;
    }
    #contact-message {
        width: 80%;
        border-radius: 20px;
        padding: 15px;
    }
    .subcontstatssub1 {
        width: 90%;
    }
    .subcontstatssub2 {
        width: 90%;
    }
    #myChart {
        width: 100%;
        height: auto;
    }
    .btnstyle2 {
        width: 40% !important;
        margin: 10px;
        padding: 15px;
    }
    #btnbar {
        font-size: 25px;
        margin: 20px;
    }
    
    .dropdown-menu {
        margin: 20px;
        margin-top: 80px;
        width: 80%;
        font-size: 14px;
        border: none;
        transform: translateX(-350px);
        transition: transform 0.5s ease;
        box-shadow: 0px 0px 15px 5px rgba(0, 0, 0, 0.249);
        border-radius: 8px;
    }
    
    .dropdown-menu.back {
        transform: translateX(-350px);
    }
    
    .dropdown-menu a {
        padding: 8px 12px;
    }

    .contmyweb2 button {
        width: 70%;
        margin: 5px;
        margin-bottom: 15px;
        padding: 15px;
        outline: none;
        border: 1px solid transparent;
        border-radius: 30px;
        box-sizing: border-box;
        transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease;
        cursor: pointer;
    }
    
    .contmyweb2 button:hover {
        background-color: transparent;
        border-color: white;
        color: white;
    }
    .hamburger {
        width: 25px;
        height: 19px;
        margin-top: 15px;
    }
}