.txtwarn {
    color: yellow;
}

.link1 {
    color: white;
    text-decoration: none;
}

.normaltxt {
    text-decoration: none;
    color: white;
    cursor: pointer;
}

@media (max-width: 600px) {
    
}