@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html, body {
    background-image: 
        linear-gradient(to right, #f9f9f9 1px, transparent 1px),
        linear-gradient(to bottom, #f9f9f9 1px, transparent 1px);
    background-size: 50px 50px;
    background-color: white;
    color: #2b2b2b;
    font-family: "Poppins", serif;
    padding: 0px;
    margin: 0px;
    font-size: 16px;
    overflow-x: hidden;
    /* transition: background-color 0.1s ease, color 0.1s ease, background-image 0.1s ease, background-size 0.1s ease; */
}

html {
    scroll-behavior: smooth;
}

a {
    color: #00a2ff;
}

.centerdiv {
    width: 100%;
    display: flex;
    justify-content: center;
}

.textcenter {
    text-align: center;
}

.btnmode {
    top: 0;
    right: 0;
    position: fixed;
    z-index: 99999999999;
}

.backgroundavatar {
    width: 100%;
    height: 120px;
    background-color: white;
    background: linear-gradient(to bottom, #21aeff, #00a2ff);
    background-repeat: no-repeat;
}

.avatar {
    width: 120px;
    height: 120px;
    margin-top: -60px;
    border-radius: 50%;
    border: 2px solid white;
    background-color: #2b2b2b;
}

.avatar img {
    border-radius: 50%;
}

.fotobackgroundavatar {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 120px;
    object-fit: cover;
}

.fotoavatar {
    margin: 0px;
    padding: 0px;
    width: 120px;
}

.containertext {
    width: 90%;
    height: auto;
    padding: 0px;
    margin: 0px;
}

.btn-sayhello {
    width: 150px;
    height: 45px;
    background-color: #00a2ff;
    border: none;
    color: white;
    margin: 35px;
    border-radius: 6px;
    cursor: pointer;
    outline: none;
    transition: width 0.1s ease, height 0.1s ease, background-color 0.1s ease;
}

.btn-sayhello:hover {
    background-color: #0092e7;
    width: 144px;
    height: 43px;
}

#webthemebtn {
    outline: none;
    border: none;
    background-color: transparent;
    border-radius: 10px;
    font-size: 30px;
    text-align: center;
    margin: 10px;
    padding: 0px !important;
    color: white;
    box-sizing: content-box;
}

.emoji {
    position: absolute;
    font-size: 30px;
    top: -50px;
    animation: fall 2s linear forwards;
}
  
@keyframes fall {
    to {
      transform: translateY(100vh);
      opacity: 0;
    }
}

.garispemisah {
    margin-top: 70px;
    margin-bottom: 70px;
    height: 2px;
    width: 90%;
    background-color: #dfdfdf;
    border-radius: 6px;
    box-shadow: 0 0 18px 12px white;
    box-sizing: border-box;
}

.containerlink {
    width: 29%;
    margin-right: 1%;
    background-color: #001b2b;
    background-color: #e6e6e6;
    background-color: rgb(252, 252, 252);
    border: 1px solid #e6e6e6;
    padding: 15px;
    padding-left: 25px;
    box-shadow: 0 0 18px 12px white;
    box-sizing: border-box;
    border-radius: 6px;
}

.container2div {
    width: 59%;
    margin-left: 1%;
    box-sizing: border-box;
}

.containeraboutme {
    width: 100%;
    background-color: #e6e6e6;
    background-color: rgb(252, 252, 252);
    border: 1px solid #e6e6e6;
    padding: 15px;
    padding-left: 25px;
    box-shadow: 0 0 18px 12px white;
    box-sizing: border-box;
    border-radius: 6px;
    margin-bottom: 3%;
}

.containerfuture {
    width: 100%;
    background-color: #e6e6e6;
    background-color: rgb(252, 252, 252);
    border: 1px solid #e6e6e6;
    padding: 15px;
    padding-left: 25px;
    box-shadow: 0 0 18px 12px white;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 3%;
}

.containerdtl {
    width: 90%;
    background-color: #e6e6e6;
    background-color: rgb(252, 252, 252);
    border: 1px solid #e6e6e6;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    box-shadow: 0 0 18px 12px white;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 2%;
}

.contmymovielist {
    width: 100%;
    height: 180px;
    background-color: #f6f6f6;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
}

.contimgmymovielist {
    width: 100px;
    height: 150px;
    box-sizing: content-box;
    background-color: transparent;
    margin: 5px;
    margin-right: 10px;
    flex-shrink: 0; 
}

.imagemymovielist {
    width: 100px;
    height: 150px;
    border-radius: 4px;
}

.contmygamelist {
    width: 100%;
    background-color: #f6f6f6;
    border-radius: 6px;
    box-sizing: border-box;
    padding: 10px;
    display: flex;
    overflow-x: auto;
    overflow-y: auto;
    white-space: nowrap;
}

.pagemygamelist {
    width: 33.33%;
    box-sizing: border-box;
    padding: 10px;
}

.listgameslist {
    margin: 0px;
}

.containerfaq {
    width: 90%;
    background-color: #e6e6e6;
    background-color: rgb(252, 252, 252);
    border: 1px solid #e6e6e6;
    padding: 15px;
    padding-left: 25px;
    padding-right: 25px;
    padding-bottom: 25px;
    box-shadow: 0 0 18px 12px white;
    box-sizing: border-box;
    border-radius: 6px;
    margin-top: 2%;
}

.faq-item {
    width: 100%;
    margin-bottom: 15px;
}

.faq-question {
    width: 100%;
    background-color: #f6f6f6;
    padding: 7px;
    padding-left: 12px;
    padding-right: 12px;
    box-sizing: border-box;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

.faq-sorh {
    margin-right: 2%;
}

.faq-answer {
    max-height: 0;
    overflow: hidden;
    width: 100%;
    background-color: #ededed;
    box-sizing: border-box;
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    transition: max-height 0.3s ease;
}

.btnsm {
    width: 97%;
    padding: 10px;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #00a2ff52;
    color: white;
    margin-bottom: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;
}

.containerfooter {
    position: relative;
    bottom: 0;
    margin: 0px !important;
    width: 100%;
    height: auto;
    background-color: red;
    display: flex;
    justify-content: center;
}

.mainfooter {
    width: 100%;
    height: 100%;
    background-color: #e6e6e6;
    background-color: rgb(252, 252, 252);
    border-top: 2px solid #dfdfdf;
    box-shadow: 0 0 20px 15px white;
    padding: 40px;
    box-sizing: border-box;
}

.submainfooter {
    display: flex;
    justify-content: center;
}

.submainfooter a {
    font-size: 24px;
    color: #2b2b2b;
    margin: 15px;
    text-decoration: none;
    cursor: pointer;
}

.copyftr {
    text-align: center;
}

.containerdtl, .containerdtl, .contmymovielist, .contimgmymovielist, .mainfooter, .garispemisah, .containerfuture, .containeraboutme, .containerlink, .contmygamelist, .pagemygamelist {
    /* transition: background-color 0.1s ease, border 0.1s ease, box-shadow 0.1s ease, color 0.1s ease; */
}

.contmymovielist::-webkit-scrollbar, .contmygamelist::-webkit-scrollbar {
    height: 3px;
    width: 3px;
}

.contmymovielist::-webkit-scrollbar-thumb, .contmygamelist::-webkit-scrollbar-thumb {
    background: #00000048;
    border-radius: 6px;
}  

@media (max-width: 600px) {
    .descnotinmobile {
        display: none;
    }

    .mylife {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
    }

    .containerlink {
        width: 90%;
        height: auto;
        padding: 15px;
        padding-left: 25px;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 0px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .container2div {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        margin: 0px !important;
    }
    
    .containeraboutme {
        width: 90%;
        padding: 15px;
        padding-left: 25px;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 0px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }
    
    .containerfuture {
        width: 90%;
        padding: 15px;
        padding-left: 25px;
        box-sizing: border-box;
        border-radius: 6px;
        margin: 0px !important;
        margin-top: 10px !important;
        margin-bottom: 10px !important;
    }

    .containerdtl {
        padding: 15px;
        padding-left: 25px;
        padding-right: 25px;
        margin-top: 3%;
    }
    
    .contmymovielist {
        height: 160px;
        padding: 10px;
    }

    .contimgmymovielist {
        width: 87px;
        height: 130px;
        margin-right: 10px;
    }
    
    .imagemymovielist {
        width: 87px;
        height: 130px;
    }

    .contmygamelist {
        width: 100%;
        height: 200px;
        border-radius: 6px;
        box-sizing: border-box;
        padding: 10px;
        display: flex;
        overflow-x: auto;
        overflow-y: auto;
        white-space: nowrap;
    }
    
    .pagemygamelist {
        width: 100%;
        margin-left: 3%;
        margin-right: 3%;
        box-sizing: border-box;
        padding: 10px;
    }
    
    .listgameslist {
        margin: 0px;
    }
}