#contprofimg {
    display: flex;
    justify-content: center;
    margin: 30px;
}

#contprofimg img {
    border-radius: 50%;
    border: 2px solid white;
    width: 120px;
}

.cont-sosmed {
    width: 30%;
    background-color: transparent;
}

.cont-sosmed button {
    width: 100%;
    padding: 15px;
    font-size: 14px;
    margin-bottom: 18px;
    border-radius: 6px;
    border: none;
    outline: none;
    background-color: #178cf3;
    color: white;
    cursor: pointer;
}

.cont-sosmed button:hover {
    background-color: #0e88f2;
}

.img-mauberteman {
    width: 180px;
    margin-top: 15px;
    border: 2px solid transparent;
    border-radius: 6px;
}

.btnGoToTop {
    background-color: #178cf3;
    color: white;
    outline: none;
    border: none;
    border-radius: 6px;
    padding: 14px;
    padding-left: 17px;
    padding-right: 17px;
    cursor: pointer;
}

@media (max-width: 600px) {
    .cont-sosmed {
        width: 60%;
    }

    #contprofimg img {
        border-radius: 50%;
        border: 2px solid white;
        width: 100px;
    }
}